.submit-ranking.form-group {
  position: fixed;
  top: $topHeaderMargin;
  right: 0;
  display: none;
}

#rankedList {
  position: relative;

  .ranked-item {
    position: absolute;
    height: $itemHeight;
    line-height: $itemHeight;
    font-size: 18px;
    -webkit-transition: top $itemTransitionTime, background-color $itemTransitionTime;
    -moz-transition: top $itemTransitionTime, background-color $itemTransitionTime;
    transition: top $itemTransitionTime, background-color $itemTransitionTime;

    &:not(:first-child) {
      border-top: 1px solid $itemBorderColor;
    }

    .item-text {
      float: left;
      color: $itemTextColor;
    }

    .item-controls {
      display: none;
    }
  }
}

.rankable {
  .item-controls, .submit-ranking.form-group {
    display: block;
  }

  .item-controls {
    float: right;

    .move-up, .move-down {
      margin: 0 4px;
      display: inline-block;
      cursor: pointer;

      &.disabled {
        opacity: $disabledOpacity;
        cursor: not-allowed;
      }
    }

    .move-up:not(.disabled):hover {
      color: $successFont;
    }

    .move-down:not(.disabled):hover {
      color: $dangerFont;
    }
  }
}

@for $i from 0 to $maxItemIndex {
  .item-#{$i} {
    top: $i * $itemHeight;
    z-index: $itemBaseZIndex + (($maxItemIndex - $i) * $itemZIndexIncrement);
  }
}

.radio-label, .expiration-label {
  width: 100%;
}

#listRankers {
  resize: none;
}
